html {
  font-family: "IBM Plex Sans", sans-serif;
}

img {
  width: 100%;
}

.search-icon {
  width: 5.5%;
}

.logo {
  width: 200px;
}

.absolute {
  position: absolute;
}

.header {
  background-color: #ddd;
  padding-bottom: .75em;
}

.colour {
  background-color: #efefef;
}

.box-colour {
  background-color: #fff;
}
